.navbar {
    background-color: #E5E1DA; 
    display: flex;
    padding: 0.6rem;
    font-family: Arial, sans-serif;
    
      
} 
.navbar h1{
    padding-top:0.6rem ;
    color: #303F6F;
}
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: 4rem;
    gap: 0.5rem;
}

.navbar ul li {
    position: relative;
    font-family: 'Times New Roman', Times, serif;    
    font-weight: bold;
}

.translate{
    margin-right: 45rem ;

}
.translate span{
background-color: rgb(0, 0, 0);

}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 1rem;
    display: block;
    background-color: #303F6F ;
    border-radius: 30px;
}



.navbar ul li:hover > a {
    background-color: #57648e; 
    border-radius: 30px;
    
}

.dropdown-section{
    display: flex;
    justify-content: flex-start;
    
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    top: 85%;
    right: 0.5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1;
   
}

.dropdown a {
    display: flex;
    justify-content: flex-start;
    color: #333;
    padding: 1.5rem 1rem;
    white-space: nowrap;
}

.dropdown a:hover {
    background-color: #bebebec7;
}


.navbar ul li:hover .dropdown {
    display: block;
}


.dropdown-section {
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #2C3E50;
    border-bottom: 1px solid #ccc;
}

.search {
    margin-right: 20rem;
}