h1{
    text-align: center;
     color: #000000;
}
.card1 {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    background: #a4afd0;
    display: flex;
    gap: 5px;
    padding: .4em;
    border-radius: 2px;
  }
  
  .card1 p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    transition: all .5s;
    background: #E5E1DA;
    border: 1px solid #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card1 p:hover {
    flex: 4;
  }
  
  .card1 p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #a693b8;
    letter-spacing: .1em;
  }
  
  .card1 p:hover span {
    transform: rotate(0);
  }